 body {
    color:black;
    background-color:white;
    /* background-image:url(../assets/images/background.jpg); */

} 

.logos {
    border: solid 5px black;
    width:120px;
    margin-left:10px;
    margin-top:10px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
}

.containerLogos {
    margin-right:70%;
    margin-top:90px;  
    
}

* {
    margin:0px;
    padding:0px;
    /* font-family:Monserrat Regular, sans-serif; */
}

nav {
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    height: 60px;
    background:rgb(51,46,46);
    box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.3);
}

nav > div {
    width: 100%;
    height:100%;
    display:flex;
    /* box-shadow:0px 1px 2px 1px rgba(0,0,0,0.3); */
}

.logoInventhys {
    top:0;
    left:0;
    height:60px;
}

.login {
    text-decoration:none;
    /* margin:10px; */
    /* height:40px; */
    /* justify-content:center; */
    position:relative;
    font-size:25px;
    font-weight:bold;
    color:#ED1E00;
    font-smooth: always;
    
    
}
.blank {
    margin-left:auto;
    margin-right:auto;
}

.btn-primary {
    margin:10px;
}
        
